@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-lato: "Lato", sans-serif;

  --color-primary: #fdfffc;
  --color-font: #001011;
  --color-accent: #dd5e98;

  --color-White: hsl(0, 0%, 100%);
  --color-Light-pink: hsl(275, 100%, 97%);
  --color-Grayish-purple: hsl(292, 16%, 49%);
  --color-Dark-purple: hsl(292, 42%, 14%);
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}
